+* {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#podcasts-head